<section class="about" id="about-game">
  <div class="container about">
    <h2 class="title-about">About the game</h2>
    <ul class="list-about">
      <li class="element-about">
        <picture>
          <source
            srcset="./img/about1.png, ./img/about1-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/about1-m.png, ./img/about1-m-x2.png 2x"
            media="(max-width: 1200px)"
          />
          <img class="img-about" src="./img/about1-m.png" width="335" />
        </picture>
        <div class="all-text-about">
          <p class="text-about">
            Call of Victory immerses players in a world of high-stakes military
            strategy where every decision can change the outcome of a battle.
          </p>
          <p class="text-about">
            As the commander of an elite squad, you will engage in real-time
            combat across dynamic and diverse environments, ranging from urban
            warzones to remote outposts.
          </p>
          <p class="text-about">
            The game is designed to challenge your tactical thinking, offering a
            variety of combat situations where you’ll need to use your resources
            wisely, coordinate your units effectively, and outsmart opponents.
          </p>
        </div>
      </li>
      <li class="element-about">
        <picture>
          <source
            srcset="./img/about2.png, ./img/about2-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/about2-m.png, ./img/about2-m-x2.png 2x"
            media="(max-width: 1200px)"
          />
          <img class="img-about" src="./img/about2-m.png" width="335" />
        </picture>
        <div class="all-text-about">
          <p class="text-about">
            Creating Call of Victory was no easy task for the development team.
          </p>
          <p class="text-about">
            One of the biggest challenges was perfecting the balance between
            strategic depth and accessibility.
          </p>
          <p class="text-about">
            They wanted the game to appeal to both casual players and strategy
            enthusiasts, so they focused on creating intuitive controls without
            sacrificing the complexity of real-time combat.
          </p>
        </div>
      </li>
      <li class="element-about">
        <picture>
          <source
            srcset="./img/about3.png, ./img/about3-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/about3-m.png, ./img/about3-m-x2.png 2x"
            media="(max-width: 1200px)"
          />
          <img class="img-about" src="./img/about3-m.png" />
        </picture>
        <div class="all-text-about">
          <p class="text-about">
            The game is not only about surviving on the battlefield—it’s about
            leading your team to ultimate victory.
          </p>
          <p class="text-about">
            To do so, you must master the art of resource management, unit
            placement, and battle timing.
          </p>
          <p class="text-about">
            Each mission is a test of your military prowess and leadership
            skills, and every choice you make will have lasting consequences.
          </p>
          <p class="text-about">
            Whether you’re playing the single-player campaign or diving into
            multiplayer PvP modes, Call of Victory offers a complex and
            satisfying strategy experience that keeps players on their toes.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
