<section class="modal" id="cookie-modal">
  <div id="cookie-banner" class="cookie-banner">
    <div class="text-modal">
      <h2 class="cookie-title">Our Cookies Policy</h2>
      <p class="cookie-p">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
    </div>
    <div class="buttons-modal">
      <button class="cookie-accept" id="accept-cookies">ACCEPT COOKIES</button>
      <button id="decline-cookies" class="cookie-decline">
        DECLINE COOKIES
      </button>
    </div>
  </div>
</section>
