<section class="faq">
  <div class="container faqq">
    <h2 class="title-faq">FAQ</h2>
    <div class="acc-list">
      <div class="acc-element">
        <button class="accordion">
          Is the game free to play?<img src="./img/icons/down.png" />
        </button>
        <div class="panel">
          <p class="acc-text">
            Yes, Call of Victory is free to download and play, with optional
            in-app purchases for customization and upgrades.
          </p>
        </div>
      </div>
      <div class="acc-element">
        <button class="accordion">
          Can I play offline?<img src="./img/icons/down.png" />
        </button>
        <div class="panel">
          <p class="acc-text">
            Absolutely! You can enjoy the campaign and certain missions even
            without an internet connection.
          </p>
        </div>
      </div>
      <div class="acc-element">
        <button class="accordion">
          What makes Call of Victory unique?<img src="./img/icons/down.png" />
        </button>
        <div class="panel">
          <p class="acc-text">
            Call of Victory stands out with its blend of real-time strategy,
            intense battles, and immersive military environments. It offers both
            single-player and PvP modes, allowing you to prove your skills in
            various combat situations.
          </p>
        </div>
      </div>
      <div class="acc-element">
        <button class="accordion">
          Is it suitable for all ages?<img src="./img/icons/down.png" />
        </button>
        <div class="panel">
          <p class="acc-text">
            The game is suitable for players aged 12 and up, with mature themes
            of combat and military strategy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
