<section class="features" id="features">
  <div class="container features">
    <h2 class="title-features">Game features</h2>
    <ul class="list-features">
      <li class="element-features">
        <picture>
          <source srcset="./img/icons/clock.png, ./img/icons/clock@2x.png 2x" />

          <img
            class="img-features"
            src="./img/icons/clock.png"
            width="100"
            height="100"
            alt="Clock"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">Real-Time Strategy</h4>
        <p class="text-features">
          Command your troops in real-time, using your strategic thinking to
          outmaneuver opponents.
        </p>
      </li>
      <li class="element-features">
        <picture>
          <source srcset="./img/icons/epic.png, ./img/icons/epic@2x.png 2x" />

          <img
            class="img-features"
            src="./img/icons/epic/clock.png"
            width="100"
            height="100"
            alt="Epic games logo"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">Epic Campaign</h4>
        <p class="text-features">
          Immerse yourself in an expansive single-player campaign with over 100+
          missions and intense scenarios.
        </p>
      </li>
      <li class="element-features">
        <picture>
          <source srcset="./img/icons/pc.png, ./img/icons/pc@2x.png 2x" />

          <img
            class="img-features"
            src="./img/icons/epic/pc.png"
            width="100"
            height="100"
            alt="PC"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">Realistic Graphics</h4>
        <p class="text-features">
          Beautifully rendered military environments, vehicles, and units for an
          immersive experience.
        </p>
      </li>
      <li class="element-features">
        <picture>
          <source
            srcset="./img/icons/swords.png, ./img/icons/swords@2x.png 2x"
          />

          <img
            class="img-features"
            src="./img/icons/swords/pc.png"
            width="100"
            height="100"
            alt="Two swords"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">PvP Battles</h4>
        <p class="text-features">
          Test your skills in competitive multiplayer, battling other players
          for dominance.
        </p>
      </li>
      <li class="element-features">
        <picture>
          <source srcset="./img/icons/tank.png, ./img/icons/tank@2x.png 2x" />

          <img
            class="img-features"
            src="./img/icons/tank/pc.png"
            width="100"
            height="100"
            alt="Tank logo"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">Unit Customization</h4>
        <p class="text-features">
          Customize your soldiers, tanks, and weapons to suit your unique
          strategy and playstyle.
        </p>
      </li>
      <li class="element-features">
        <picture>
          <source
            srcset="./img/icons/offline.png, ./img/icons/offline@2x.png 2x"
          />

          <img
            class="img-features"
            src="./img/icons/offline/pc.png"
            width="100"
            height="100"
            alt="No wifi logo"
            loading="lazy"
          />
        </picture>
        <h4 class="small-title-features">Offline Play</h4>
        <p class="text-features">
          Play even when you don’t have an internet connection, with offline
          campaign missions available.
        </p>
      </li>
    </ul>
  </div>
</section>
