<footer class="footer">
  <div class="footer-cont">
    <div class="imgs-footer">
      <a class="footer-logo" href="./index.html">
        <picture>
          <source
            srcset="./img/logo.png, ./img/logo-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/logo-m.png, ./img/logo-m-x2.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            class="img-footer"
            src="./img/logo-m.png"
            width="100"
            height="100"
            alt="Website logo"
            loading="lazy"
          /> </picture
      ></a>
      <a
        href="https://play.google.com/store/apps/details?id=com.volvapps.rts2d&hl=en&gl=us"
        class="button-footer"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="footer-btn-img"
          src="/img/icons/footer-g-play.png"
          alt="Google Play Button"
          width="200"
          height="60"
          aria-label="go to Google Play"
          loading="lazy"
      /></a>
    </div>

    <div class="footer-text-container">
      <p class="first-text-footer cookies">
        <a href="./cookies-policy.html">Cookies Policy</a><span>/</span>
      </p>
      <p class="first-text-footer privacy">
        <a href="./privacy-policy.html">Privacy Policy</a><span>/</span>
      </p>
      <p class="first-text-footer">
        <a href="./terms-and-conditions.html">Terms & Conditions</a>
      </p>
    </div>

    <p class="second-text-footer">
      &#9426; 2025 victoryarcplay.com, All rights reserved.
    </p>
  </div>
</footer>
