<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/logo.png 1x, /img/logo-x2.png 2x"
          type="image/png"
        />
        <source
          media="(max-width: 375px)"
          srcset="/img/logo-m.png 1x, /img/logo-m-x2.png 2x"
          type="image/png"
        />
        <img
          class="header-icon"
          src="/img/logo.png"
          alt="Icon 'Call Of Victory'"
          loading="lazy"
        />
      </picture>
    </a>
    <div class="header-burger">
      <div class="header-burger__burger"></div>
    </div>
    <div class="header-mob-menu">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about-game">About the game</a></li>
        <li><a href="#how-to-play">How to Play</a></li>
        <li><a href="#features">Game features</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div class="header-menu">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about-game">About the game</a></li>
        <li><a href="#how-to-play">How to Play</a></li>
        <li><a href="#features">Game features</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>
