<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1 class="h1">Call of Victory</h1>
      <p>
        Step into the battlefield, lead your troops to victory, and experience
        the ultimate military strategy game!
      </p>
    </div>
    <a
      href="https://play.google.com/store/apps/details?id=com.volvapps.rts2d&hl=en&gl=us"
      class="hero-button"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/img/icons/header-g-play.png"
        alt="Google Play Button"
        width="210px"
      />
    </a>
  </div>
</section>
