<section class="play" id="how-to-play">
  <div class="container play">
    <h2 class="title-play">How to play</h2>
    <ul class="list-play">
      <li class="element-play">
        <picture>
          <source
            srcset="./img/play1.png, ./img/play1-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/play1-m.png, ./img/play1-m-x2.png 2x"
            media="(max-width: 1200px)"
          />
          <img class="img-play" src="./img/play1-m.png" width="335" />
        </picture>
        <ul class="list-nested-play">
          <li class="element-nested-play">
            <h3 class="small-title-play">Assemble Your Troops:</h3>
            <p class="text-play">
              Recruit and upgrade a wide variety of military units, including
              infantry, tanks, and air support.
            </p>
          </li>
          <li class="element-nested-play">
            <h3 class="small-title-play">Complete Missions:</h3>
            <p class="text-play">
              Embark on exciting missions, each with unique objectives and
              challenges to test your combat skills.
            </p>
          </li>
          <li class="element-nested-play">
            <h3 class="small-title-play">Upgrade and Evolve:</h3>
            <p class="text-play">
              Enhance your units and weapons with powerful upgrades to keep up
              with increasingly difficult enemies.
            </p>
          </li>
        </ul>
      </li>
      <li class="element-play">
        <picture>
          <source
            srcset="./img/play2.png, ./img/play2-x2.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="./img/play2-m.png, ./img/play2-m-x2.png 2x"
            media="(max-width: 1200px)"
          />
          <img class="img-play" src="./img/play2-m.png" width="335" />
        </picture>
        <ul class="list-nested-play">
          <li class="element-nested-play1">
            <h3 class="small-title-play">Strategic Battles:</h3>
            <p class="text-play">
              Command your forces in real-time tactical battles, utilizing
              terrain, positioning, and timing to outsmart opponents.
            </p>
          </li>

          <li class="element-nested-play1">
            <h3 class="small-title-play">PvP Mode:</h3>
            <p class="text-play">
              Challenge other players in intense PvP (Player vs Player) battles,
              or team up with friends to dominate the leaderboard.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
