<section class="reviews">
  <div class="reviews-back">
    <div class="container">
      <h2 class="reviews-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="review-dotted-line"></div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/avatar1.png 1x, /img/avatar1-x2.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 375px)"
              srcset="/img/avatar1-m.png 1x, /img/avatar1-m-x2.png 2x"
              type="image/png"
            />
            <img
              class="review-avatar"
              src="/img/avatar1-m.png"
              alt="avatar1"
              loading="lazy"
            />
          </picture>
          <div class="review-text">
            <h3 class="reviews-item-title">Kevin Mast</h3>
            <p>
              Call of Victory is hands-down the most thrilling military strategy
              game I've played! The variety of units and the depth of strategic
              decision-making are incredible. Every battle feels fresh, and the
              level of customization for each unit keeps things exciting. The
              real-time battles are intense, and the PvP mode is a great way to
              challenge myself against other players. Highly recommend it to
              anyone who loves strategy games!
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-dotted-line"></div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/avatar2.png 1x, /img/avatar2-x2.png 2x"
              type="image/png" />
            <source
              media="(max-width: 375px)"
              srcset="/img/avatar2-m.png 1x, /img/avatar2-m-x2.png 2x"
              type="image/png" />
            <img
              class="review-avatar"
              src="/img/avatar2-m.png"
              alt="avatar2"
              loading="lazy"
          /></picture>
          <div class="review-text">
            <h3 class="reviews-item-title">Tomas Gen</h3>
            <p>
              I've been hooked on this game since the first mission! The
              graphics are top-notch, and the gameplay is incredibly engaging. I
              love how you have to think on your feet and adapt your strategy to
              each battle. Plus, the multiplayer mode is fantastic! It's such a
              great challenge to face off against other players. Definitely one
              of the best strategy games out there.
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-dotted-line"></div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/avatar3.png 1x, /img/avatar3-x2.png 2x"
              type="image/png" />
            <source
              media="(max-width: 375px)"
              srcset="/img/avatar3-m.png 1x, /img/avatar3-m-x2.png 2x"
              type="image/png" />
            <img
              class="review-avatar"
              src="/img/avatar3-m.png"
              alt="avatar3"
              loading="lazy"
          /></picture>
          <div class="review-text">
            <h3 class="reviews-item-title">Constantin Elite</h3>
            <p>
              Call of Victory has everything I love in a strategy game—real-time
              action, strategic planning, and epic missions. The progression
              system is rewarding, and I feel like my army is always evolving.
              The battles are fast-paced, but there's always a need for careful
              planning. I'm really enjoying my time with this game, and I can't
              wait to see what's next!
            </p>
          </div>
        </li>
        <li class="reviews-item">
          <div class="review-dotted-line"></div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="/img/avatar4.png 1x, /img/avatar4-x2.png 2x"
              type="image/png" />
            <source
              media="(max-width: 375px)"
              srcset="/img/avatar4-m.png 1x, /img/avatar4-m-x2.png 2x"
              type="image/png" />
            <img
              class="review-avatar"
              src="/img/avatar4-m.png"
              alt="avatar4"
              loading="lazy"
          /></picture>
          <div class="review-text">
            <h3 class="reviews-item-title">Victor Seeker</h3>
            <p>
              From the moment I started playing, I knew Call of Victory would be
              a game I'd love. The gameplay is addictive, and the variety of
              missions keeps me coming back for more. I enjoy leading my troops
              to victory and upgrading my army. It's so satisfying to outsmart
              my enemies and win battles. Great game!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
