.title-about {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.text-about {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
  text-indent: 15px;
  line-height: 20px;
}

.img-about {
  max-width: 100%;

  box-shadow: none;
}

.list-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.element-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(20px);
}

.element-about.visible {
  animation: fadeInQuick 1.2s ease-out forwards;
}

.all-text-about {
  margin-top: 16px;
}

@keyframes fadeInQuick {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.all-text-about {
  font-size: 14px;
  letter-spacing: 0.04em;
  margin-top: 24px;
}

@media (min-width: 375px) {
  .title-about {
    margin-bottom: 40px;
    line-height: 33px;
    font-size: 24px;
  }

  .text-about {
    font-size: 16px;
    letter-spacing: 0.06em;

    text-indent: 20px;
    line-height: 22px;
  }

  .img-about {
    border-radius: 20px;

    max-width: 335px;
    height: 301px;
    min-height: 301px;
  }

  .list-about {
    gap: 24px;
  }
}

@media (min-width: 1200px) {
  .title-about {
    margin-bottom: 40px;
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 65px;
    margin-top: 0;
  }

  .text-about {
    font-size: 20px;
    line-height: 27px;
  }

  .img-about {
    min-width: 477px;
    min-height: 429px;
    margin-bottom: 0;
  }

  .list-about {
    gap: 40px;
  }

  .element-about {
    flex-direction: row;
    max-width: 1120px;

    gap: 40px;
  }

  .element-about:nth-child(even) {
    flex-direction: row-reverse;
  }

  .all-text-about {
    max-width: 603px;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
}
