.title-features,
.small-title-features,
.text-features {
  font-family: var(--font-family);
  color: #fff;
}

.title-features {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.04em;
  line-height: 33px;
  margin-bottom: 40px;
}

.list-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.element-features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 335px;
  height: 219px;
}

.small-title-features {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 25px;
  margin: 20px 0 8px;
}

.text-features {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .title-features {
    font-size: 48px;
    letter-spacing: 0.02em;
    line-height: 65px;
  }

  .list-features {
    flex-direction: row;
    flex-wrap: wrap;
    height: 582px;
    row-gap: 60px;
    column-gap: 80px;
    max-width: 1120px;
  }

  .element-features {
    max-width: 300px;
    min-height: 261px;
  }

  .small-title-features {
    font-size: 24px;
    letter-spacing: 0.04em;
    line-height: 33px;
  }

  .text-features {
    font-size: 18px;
    line-height: 25px;
  }
}
