.header {
  position: fixed;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}
.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(102, 153, 139, 0.685);
  box-shadow: 0 0 20px 5px rgba(102, 153, 139, 0.685);
  @include media(desktop) {
    border-radius: 20px;
  }
  @include media(desktop) {
    .header-icon {
      width: 95px;
      height: 95px;
    }
    .header-burger {
      display: none;
    }
    .header-menu {
      display: flex;
    }
  }
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
.header-mob-menu {
  font-size: 18px;
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  right: -100px;
  width: 235px;
  height: 100vh;
  pointer-events: none;
  background-image: linear-gradient(180deg, #8c0209 0%, #1c2d37 100%);
  transition: opacity 250ms ease-in-out, right 250ms ease-in-out;
  & ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 105px;
    align-items: center;
    width: 100%;
  }
}
.is-open {
  pointer-events: all;
  opacity: 1;
  right: 0;
}

.header-menu {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 31px 17px;
  width: 953px;
  height: 95px;
  background-image: linear-gradient(146deg, #1c2d37 0%, #8f0007 100%);
  & ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
  }
}

.header-mob-menu a,
.header-mob-menu a,
.header-menu a,
.header-menu a {
  transition: box-shadow 250ms ease-in-out;
  border-radius: 16px;
}

.header-mob-menu a:hover,
.header-mob-menu a:focus,
.header-menu a:hover,
.header-menu a:focus {
  box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.2),
    0 0 5px 10px rgba(0, 0, 0, 0.2);
}
.header-burger {
  padding: 0;
  z-index: 10;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-burger__burger {
  width: 35px;
  height: 35px;
  height: 6px;
  background: #56171f;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.header-burger__burger::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 6px;
  background: #1c2d37;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.header-burger__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 6px;
  background: #8c0209;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.header-burger__burger::before {
  transform: translateY(-12px);
}

.header-burger__burger::after {
  transform: translateY(12px);
}

.header-burger.open .header-burger__burger {
  transform: translateX(-50px);
  background: transparent;
}

.header-burger.open .header-burger__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: #fff;
}

.header-burger.open .header-burger__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: #fff;
}
