.title-play {
  margin-bottom: 40px;
  line-height: 33px;
}

.small-title-play {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #fff;
}

.img-play {
  margin-bottom: 24px;
  max-width: 334px;
  min-height: 301px;
  border-radius: 20px;
}

.text-play {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #fff;
}

.list-play {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.element-nested-play {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  height: 104px;
  line-height: 22px;
}

.list-nested-play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.element-nested-play1 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  min-height: 132px;
}

.element-play {
  opacity: 0;
  transform: translateY(20px);
}

.element-play.visible {
  animation: fadeInQuick 1.2s ease-out forwards;
}

@keyframes fadeInQuick {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.element-play.hidden {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 375px) {
  .title-play {
    margin-bottom: 40px;
    line-height: 33px;
  }

  .small-title-play {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #fff;
  }

  .img-play {
    margin-bottom: 24px;
    max-width: 334px;
    min-height: 301px;
    border-radius: 20px;
  }

  .text-play {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #fff;
  }

  .list-play {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .element-nested-play {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    height: 104px;
    line-height: 22px;
  }

  .list-nested-play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  .element-nested-play1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    min-height: 132px;
  }
}

@media (min-width: 1200px) {
  .container .play {
    height: 1043px;
  }

  .title-play {
    font-size: 48px;
    letter-spacing: 0.02em;
  }

  .small-title-play {
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 27px;
  }

  .img-play {
    margin-bottom: 24px;
    min-width: 477px;
    max-height: 429px;
    margin-bottom: 0;
  }

  .text-play {
    font-size: 20px;
    letter-spacing: 0.05em;
  }

  .list-play {
    gap: 80px;
  }

  .element-nested-play {
    gap: 20px;
    min-height: 108px;
    max-width: 603px;
    line-height: 27px;
  }

  .element-play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .element-play:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .list-nested-play {
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 27px;
  }
}
