.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.terms__intro {
  font-size: 16px;
  margin-bottom: 12px;
}

.terms__section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.terms__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 12px;
}

.terms__link {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.terms__link {
  transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  border-radius: 5px;
}

.terms__link:hover,
.terms__link:focus {
  box-shadow: inset 0 0 10px 30px rgba(255, 255, 255, 0.678), 0 0 5px 2px white;
  color: #2e4b5d;
}

.terms__list {
  list-style-type: disc;
  padding-left: 12px;
  margin-bottom: 8px;
}

.terms__list-item {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 32px;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #fff;
}

.terms-content {
  border-radius: 20px;
  max-width: 335px;
  background: #2e4b5d;
  padding: 16px;
}

@media (min-width: 1200px) {
  .terms-content {
    border-radius: 20px;
    max-width: 1200px;
    background: #2e4b5d;
    padding: 95px;
  }

  .terms__title {
    font-size: 32px;
  }

  .terms__intro,
  .terms__section-title,
  .terms__text,
  .terms__link {
    font-size: 20px;
  }

  .terms__list {
    font-size: 12px;
    margin-left: 16px;
  }
}
